<div class="modal _modal" id="modal_callback">
  <div class="wrapper__modal__background _modal__close"></div>
  <div class="wrapper__modal__content">
    <div class="modal__header">
      <button class="modal__header__close _modal__close" type="button" name="button">{{'Закрыть'|_}}</button>
    </div>
    <div class="modal__content">
      <form class="modal__content__form _modal__content__form--modal" action="" data-request="{{emptyForm}}::onFormSubmit" data-request-success="$.oc.flashMsg({class: 'success', text: 'Сообщение успешно отправлено'});
          $('._modal').fadeOut(); $('._modal').find('input').val(''); $('._modal').find('textarea').val(''); $('._modal__content__form--modal').find('button').prop('disabled', '')">
        {{ form_token() }}

        {% if (recaptcha_enabled) %}
          <div id="{{ __SELF__ }}" class="g-recaptcha" data-sitekey="{{ __SELF__.settings.recaptcha_site_key }}" data-theme="{{ __SELF__.property('recaptcha_theme') }}" data-type="{{ __SELF__.property('recaptcha_type') }}"
            data-size="{{ __SELF__.property('recaptcha_size') }}"></div>
        {% elseif (recaptcha_misconfigured) %}
          <h5>{{ recaptcha_warn }}</h5>
        {% endif %}

        <div class="modal__content__form__inputs">
          <input class="modal__content__form__input" type="text" name="name" placeholder="Имя" required>
          <input class="modal__content__form__inpu _mask-phone" type="text" name="phone" placeholder="Телефон" required>
          <input type="hidden" name="title" value="{{this.page.title}}">


          <button class="button modal__content__form__button">{{'Оставить заявку'|_}}</button>
        </div>
        <p class="modal__content__form__footer">{{'Отправляя форму, вы даете согласие на обработку'|_}} <a href="/politika-konfidencialnosti">{{'персональных данных'|_}}</a></p>
      </form>
    </div>
  </div>
</div>
