<div class="info-page__block--1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="d-none d-md-block col-md-6">
        <div class="wrapper__info-page__image">
          <img src="{{'assets/img/info.jpg'|theme}}" alt="">
        </div>
      </div>
      <div class="col-12 col-md-6">
        <div class="wrapper__info-page__block--1">
          <span class="info-page__title">{{'Обращение генерального директора'|_}}</span>
          <div class="info-page__description">
            {{ advantages_description_1 | raw}}
          </div>
        </div>
        <span class="info-page__footer-title">{{'Генеральный директор «МК»,  Иванов А.А.'|_}}</span>
      </div>

    </div>
  </div>
</div>
